@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body {
    color: #191919;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 6px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #ffcb52;
        border: 1px solid #ffcb52;
    }

}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 6px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #FFFFFF;
        border: 1px solid #191919;
        color: #191919;
    }

}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 6px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }

}

.section-title {
    padding-top: 70px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
    }

    p {
        color: #F94D1C;
        margin-bottom: 10px;
    }

    h2 {
        color:#191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }

}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #F0EFE9;
    padding: 20px;



    .container {
    display: flex;
    gap: 50px;
    align-items:center;
    justify-content: space-between;

    .bars {
        font-size: 25px;

        @media (min-width: 992px) {
            display: none;
        }
    }

    .topmenu {
        display: none;
        flex: 1;
        

        @media (min-width: 992px) {
            display: block;

        .topinfo {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #DAD9D3;
            
            @media (min-width: 1200px) {
                justify-content: space-between;
            }

            .contactinfo {
                display: none;
                align-items: center;
               
                @media (min-width: 1200px) {
                    display: flex;
                }

                .cinfo-box {
                    padding-right: 20px;
                    margin-right: 25px;
                    border-right: 1px solid #DAD9D3;
                    font-size: 15px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 300;

                    i {
                        margin-right: 4px;
                        font-size: 1.2em;
                    }

                    &.last {
                        border: none;
                    }

                }
            }

            .social-media {
                a {
                    color:#191919;
                    font-size: 1.3rem;
                    margin-left: 10px;

                    &:hover {
                        color:#7c7c7c
                    }
                }
            }
        }

        .main-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;

            nav {
                a {
                    color:#191919;
                    text-decoration: none;
                    margin-right: 30px;

                    &.active {
                        font-weight: 500;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }



        }

        }
    }
}
}

.showcase {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .background-lines-1 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;
                


                @media (min-width: 768px) {
                    font-size: 70px;
                }

                @media (min-width: 1400px) {
                    font-size: 86px;
                }
            }

            p {
                font-size: 18px;
                padding-top: 20px;
                padding-bottom: 35px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }

            a {
                margin-right: 0px;
                padding-top: 15px;
                padding-bottom: 15px;
                display: block;
                margin-bottom: 10px;

                @media (min-width: 768px) {
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }
        

        img {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }
        }

    }
}

.companylogos {
    align-items: center;

    

    .container {
        display: none;
        justify-content: space-between;
        @media (min-width: 768px) {
            padding-top: 36px;
            padding-bottom: 36px;
            display: block;
            
        }
        @media (min-width: 1200px) {
            padding-top: 72px;
            padding-bottom: 72px;
            display: flex;
            
        }
    }
}

.features {

    .container {
        border: 1px solid #DAD9D3;
        padding: 20px;
        padding-top: 40px;
        @media (min-width: 1200px) {
            padding: 100px;
        }
        
        

        .feature-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;

            @media (min-width: 1200px) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            
            grid-template-areas: "text text"
                                    "text text";
                
            .section-title {
                grid-area: text;
                padding-top: 0px;
                padding-right: 0px;
                text-align: center;
                justify-content: center;

                

                h2 {
                    font-size: 34px;
                }

                @media (min-width: 1200px) {
                    text-align: left;
                    padding-right: 80px;
                    h2 {
                        font-size: 45px;
                    }
                }
                
                div {
                    display: flex;
                    margin-top: 40px;
                    justify-content: center;
                    .btn-yellow {
                        padding: 12px 40px;

                        @media (min-width: 1200px) {
                            padding: 12px 120px;
                        }
                    }
                }
            }

            article {
                
                i {
                    font-size: 30px;
                    margin-bottom: 15px;
                    
                }
            }
        }

    }
}

.about-company {
    position: relative;
    z-index: 0;
    


    .container {
        .background-lines-2 {
            display: none;
            position: absolute;
            z-index: 2;
            top: 35px;
            left: auto;

            @media (min-width: 768px) {
                display: block;
            }

            @media (min-width: 1920px) {
                left: 325px;
            }
        }
        margin-top: 120px;
        display: block;
        

        @media (min-width: 1200px) {
            display: flex;
        }

        .about {
            
            .about-image {
                display: none;
                margin-left: 55px;
                z-index: 1;
                
                @media (min-width: 768px) {
                    display: block;
                }
            }

            .blue-card {
                display: none;
                background-color: #BEEBFF;
                width: 368px;
                height: 180px;
                padding: 38px 24px;
                position: absolute;
                z-index: 3;
                bottom: 40px;

                @media (min-width: 1200px) {
                    display: block;
                }
                
                .name-text {
                  display: inline;
                  color:#191919;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                }

                .red-text {
                    display: inline;
                    color: #F94D1C;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 16px;
                }

                p {
                    margin-top: 20px;
                }
            }

        }

        .about-information {
            padding-left: 0px;
            padding-top: 25px;
            
            @media (min-width: 1200px) {
                padding-left: 190px;
                padding-top: 0px;
            }
            
            .section-title {
                padding-top: 0px;
            }

            .info-text {
                padding-top: 20px;
                padding-right: 0px;
                color: #5e5e5e;
            }

            .buttonsparent {
                
                div {
                    padding-top: 50px;
                    display: flex;
                    align-items: center;
                    
                    .btn-transparent {
                        padding: 12px 17px;
                        font-size: 16px;
                        margin-left: 24px;
                        i {
                            margin-left: 3px;
                        }
                        
                        
                    }

                    p {
                        margin-left: 16px;
                        margin-top: 16px;
                        font-weight: 500;
                        font-family: 'Inter', sans-serif;
                    }
                }
            }
        }
    }

}

.our-services {
    background-color: #F0EFE9;
    margin-top: 120px;
    padding-bottom: 215px;
    position: relative;

    .background-lines-4 {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .container {
        
        .section-title {
            width: 560px;
            
            h2 {
                width: 300px;
                @media (min-width: 768px) {
                    width: auto;
                }
            }
        }

        .services {
            display: block;
            gap: 30px;
            

            @media (min-width: 1200px) {
                display: flex;
            }
            
            
            div {
                background-color: #FFFFFF;
                &:hover {
                    background-color: #F9D783;
                }
                
                padding: 20px 30px;
                padding-right: 15px;
                margin-bottom: 30px;
                
                
                
                
                .topborder {
                    border-bottom: 2px solid #191919;
                    width: 40px;
                    background-color: transparent;
                    
                    
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                    margin-bottom: 16px;
                    margin-top: 40px;

                    
                    
                }

                p {
                    margin-bottom: 26px;
                }
                
                .circlebutton {
                    display: flex;
                    justify-content: right;
                    background-color: transparent;
                    
                
                    .btn-black {
                        padding: 14px 20px;
                        font-size: 18px;
                        border-radius: 50px;
                        
                        
                        
                        justify-content: right;
                    
                        i {
                            margin-left: 0px;
                        }
                    }
                }

            }
        }

        .browse-services {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    }
}

.why-choose-us {
    position: relative;
    z-index: 1;
    .backgroundblock {
        display: none;
        @media (min-width: 1200px) {
            display: block;
        }
        position: absolute;
        background-color: #F0EFE9;
        width: 1057px;
        height: 425px;
        z-index: -1;
        right: 0;
        top: 265px;
    }

    .container {

        .titleparent {
            display: flex;
            justify-content: space-between;
            .section-title {
                width: 400px;
                padding-bottom: 40px;
                
            }

            
        }
        
        
            
        .sectionparent {
            display: flex;
            justify-content: space-between;
        
            .choose-us {
                    
                div {
                    display: flex;
                    

                    h3 {
                        font-family: 'DM Sans', sans-serif;
                        font-size: 22px;
                        font-weight: 700; 
                    }

                    i {
                        padding: 7px;
                        margin-right: 20px;
                        font-size: 30px;
                        border: 2px solid #e7e7e7;
                        border-radius: 50px;
                    }
                    }

                    p {
                        margin-left: 70px;
                        padding-bottom: 40px;
                    }

                    
                
            }

            .choose-us-img {
                display: none;
                @media (min-width: 1200px) {
                    display: block;
                }
                margin-top: -278px;
            }
        }


        
        




    }
}

.project-and-case {
    .container {

        .section-title {
            text-align: center;
        }

        .project-and-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            article {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;

                img {
                    width: 100%;
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3
                }

                a {
                    padding: 15px;
                    display: block;
                    text-align: right;
                    color: #191919;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    
                    i {
                        margin-left: 3px;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }

        .center-content {
            margin-top: 50px;
            margin-bottom: 90px;
        }

    }


}

.meet-our-team {
    background-color: #F0D082;
    padding-bottom: 120px;
    .container {
        .meet-team {
            .section-title {
                
                .teambutton {
                    display: block;
                    justify-content: space-between;
                    align-items: center;
                    

                    @media (min-width: 1000px) {
                        display: flex;
                        
                    }

                    .btn-yellow {
                        border: 1px solid black;
                        
                    }
                }
            }

            .teampictures {
                display: inline-block;
                gap: 30px;

                @media (min-width: 1000px) {
                    display: flex;
                }

                div {
                    img {
                        width: 100%;
                    }
                    h3 {
                        margin-top: 20px;
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 700;
                        font-size: 22px;
                    }

                    p {
                        font-weight: 500;
                    }
                }
            }

            .team-select {
                display: flex;
                justify-content: center;
                gap: 16px;
                margin-top: 50px;
                padding-bottom: 70px;
                color: #c3ab70;
            }
        }

        .client-testimony {
            background-color: #FFFFFF;
            

            .section-title {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .client-reviews {
                display: block;
                gap: 100px;
                margin-left: 50px;
                margin-right: 50px;

                @media (min-width: 1000px) {
                    display: flex;
                } 
                .review {
                    margin-bottom: 20px;
                    i {
                        color: #F94D1C;
                        margin-bottom: 20px;
                    }

                    p {
                        margin-bottom: 25px;
                    }
                    
                    .review-name {
                        display: flex;
                        
                        img {
                            margin-right: 10px;
                        }

                        h3 {
                            font-family: 'DM Sans', sans-serif;
                            font-weight: 700;
                            font-size: 22px;
                        }

                        p {
                            color: #F94D1C;
                        }
                    }
                }
            }

            .reviewbutton {
                display: flex;
                justify-content: center;
                padding-top: 80px;
                padding-bottom: 100px;
            }
        }
    }
}

.article-and-news {
    .container {
        
        .news-grid {
            

            .section-title {
                padding-bottom: 35px;
                display: grid;
                            grid-template-areas: "sectiontitletop sectiontitletop sectiontitletop"
                                    "sectiontitle sectiontitle articlebutton"
                                    "mobilearticlebutton mobilearticlebutton mobilearticlebutton";
                
                p {
                    grid-area: sectiontitletop;
                }
                align-items: center;
            }

            .news-button {
                grid-area: mobilearticlebutton;
                padding-top: 15px;

                @media (min-width: 1200px) {
                grid-area: articlebutton;
                display: flex;
                justify-content: right;
                margin-right: -20px;
            }
                .btn-transparent {
                    padding: 18px;
                    padding-right: 30px;
                    padding-left: 30px;
                }
            }
        }
            
            
       

            .article-news {

                @media (min-width: 1200px) {

                
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto 1fr auto;
                gap: 30px;
                }


                
                img {
                    width: 100%;
                }

                @media (min-width: 768px) {
                    img {
                        width: 75%;
                    }
                }

                @media (min-width: 1200px) {
                    img {
                        width: 100%;
                    }
                }
                article {
                    

                    p {
                        padding-top: 12px;
                    }
                    
                    a {
                        text-decoration: none;
                        color: #191919;
                    }

                    h3 {
                        font-weight: 700;
                        font-size: 22px;
                        &:hover {
                            text-decoration: underline;
                        
                        }
                    }
                    padding-top: 10px;
                    padding-bottom: 30px;
                }
            }
        }

    .articles-select {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-bottom: 100px;
        color: #DAD9D3;
        


    }
        


}

.news-updates-signup {
    background-color: #F0EFE9;
    padding-top: 105px;
    padding-bottom: 105px;
    position: relative;
    z-index: 0;

    .background-lines-3 {
        position: absolute;
        bottom: 50px;
        right: 0;
        z-index: -1;
    }

    .container {
        
        .news-updates {
            
            @media (min-width: 1200px) {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            }
            
            
            h2 {
                color:#191919;
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 30px;
                margin-right: auto;
                @media (min-width: 768px) {
                    font-size: 45px;
                }

                
                
                
                
            }

            form {
                
                    input {
                        padding: 12px 30px;
                        border-radius: 25px;
                        border: none;
                        margin-bottom: 30px;
                        @media (min-width: 768px) {
                            margin-bottom: 0px;
                        }
                        
                    
                    
                

                
                    
                    .btn-yellow {
                        padding: 12px 30px;
                        border: none;
                    }
                }
            }

        }
    }
}

footer {
    background-color: #0E1021;
    color: #F0EFE9;
    padding-top: 115px;
    position: relative;
    z-index: 0;

    .background-lines-5 {
        display: none;
        position: absolute;
        z-index: 1;
        bottom: 61px;
        right: 0;

        @media (min-width: 768px) {
            display: block;
        }
    }

    .container {
        

        .footerinfo {
            display: block;
            justify-content: space-between;
            padding-bottom: 75px;
            gap: 20px;

            @media (min-width: 768px) {
                display: flex;
            }
            


            .critofooter {
                margin-right: 100px;
                width: 350px;
                
                p {
                    margin-top: 25px;
                }
            }

            div {
                width: 170px;
                
                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    padding-bottom: 16px;
                    font-size: 22px;
                }

                a {
                    text-decoration: none;
                    color: #F0EFE9;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .footerbottom {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .social-media {
                
                a {
                    padding-left: 20px;
                    color: #F0EFE9;

                    &:hover {
                        color: #7c7c7c;
                    }
                }
            }
        }

    }

    .footerborder {
        border-top: 1px solid #3e404d;
    }
}

.contacttitle {
    position: relative;
    z-index: 0;
    .background-lines-6 {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    background-color: #F0EFE9;
    padding: 100px;
    .container {
        
        div {
            display: flex;

            .titlehome {
                margin-right: 20px;
                font-weight: 300;
            }

            .titlecontact {
                font-weight: 500;
            }

            h1 {
                font-size: 56px;
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
            }
        }


    }
}

.contactcards {
    padding-top: 120px;
    padding-bottom: 75px;

    .container {
        .cardparent {
            display: block;
            justify-content: center;
            align-items: center;
            gap: 30px;
            

            @media (min-width: 1200px) {
                display: flex;
            }

            .card {
                padding: 50px 60px;
                .cardicon {
                    display: flex;

                    h3 {
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 700;
                        font-size: 22px;
                        margin-top: 10px;
                        padding-left: 20px;
                    }

                    i {
                        margin: 0px;
                        color: #FFFFFF;
                        background-color: #191919;
                        padding: 18px 19px;
                        border: 1px solid black;
                        border-radius: 100px;
                        font-size: 20px;
                    }


                }

                .cardinfo {
                    margin-left: 75px;
                    
                    p {
                        margin-bottom: 4px;
                    }
                }
                


                
            }
        }
    }
}

.contactform {

    .container {
        background-color: #F0EFE9;
        padding-top: 140px;
        padding-bottom: 100px;

        .formtitle {
            display: flex;
            justify-content: center;
            text-align: center;
            padding-bottom: 20px;

            h2 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 45px;
                width: 440px;
            }
        }

        .contactmessage {
            padding: 0px 0px;

            @media (min-width: 1000px) {
                padding: 0px 150px;
            }
            form {
                
                div {
                    margin-bottom: 16px;
                    
                    input {
                        padding: 12px 30px;
                        border-radius: 25px;
                        border: none;
                        width: 100%;
                        
                    }

                    textarea {
                        padding: 12px 30px;
                        border-radius: 25px;
                        border: none;
                        resize: none;
                        width: 100%;
                    }
                }

                button {
                    width: 100%;
                    margin-top: 20px;
                }
            }
        }
    }
}

.contactmap {
    padding-top: 120px;
    iframe {
        width: 100%;
    }
}