@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid F9D783;
  color: #191919;
  text-decoration: none;
  padding: 8px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 6px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #b4a480;
}

header {
  background-color: #F0EFE9;
  display: flex;
  padding: 20px;
}

.container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
.container .bars {
  font-size: 25px;
}
@media (min-width: 992px) {
  .container .bars {
    display: none;
  }
}
.container .topmenu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  .container .topmenu {
    display: block;
  }
  .container .topmenu .topinfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #DAD9D3;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .container .topmenu .topinfo {
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .container .topmenu .topinfo .contactinfo {
    display: none;
    align-items: center;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .container .topmenu .topinfo .contactinfo {
    display: flex;
  }
}
@media (min-width: 992px) {
  .container .topmenu .topinfo .contactinfo .cinfo-box {
    padding-right: 20px;
    margin-right: 25px;
    border-right: 1px solid #DAD9D3;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
  }
  .container .topmenu .topinfo .contactinfo .cinfo-box i {
    margin-right: 4px;
    font-size: 1.2em;
  }
  .container .topmenu .topinfo .contactinfo .cinfo-box.last {
    border: none;
  }
  .container .topmenu .topinfo .social-media a {
    color: #191919;
    font-size: 1.3rem;
    margin-left: 10px;
  }
  .container .topmenu .topinfo .social-media a:hover {
    color: #7c7c7c;
  }
  .container .topmenu .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  .container .topmenu .main-menu nav a {
    color: #191919;
    text-decoration: none;
    margin-right: 30px;
  }
  .container .topmenu .main-menu nav a.active {
    font-weight: 500;
  }
  .container .topmenu .main-menu nav a:hover {
    text-decoration: underline;
  }
}