@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 6px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #ffcb52;
  border: 1px solid #ffcb52;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 6px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 6px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  padding: 20px;
}
header .container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}
header .container .bars {
  font-size: 25px;
}
@media (min-width: 992px) {
  header .container .bars {
    display: none;
  }
}
header .container .topmenu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .topmenu {
    display: block;
  }
  header .container .topmenu .topinfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #DAD9D3;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  header .container .topmenu .topinfo {
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  header .container .topmenu .topinfo .contactinfo {
    display: none;
    align-items: center;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  header .container .topmenu .topinfo .contactinfo {
    display: flex;
  }
}
@media (min-width: 992px) {
  header .container .topmenu .topinfo .contactinfo .cinfo-box {
    padding-right: 20px;
    margin-right: 25px;
    border-right: 1px solid #DAD9D3;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
  }
  header .container .topmenu .topinfo .contactinfo .cinfo-box i {
    margin-right: 4px;
    font-size: 1.2em;
  }
  header .container .topmenu .topinfo .contactinfo .cinfo-box.last {
    border: none;
  }
  header .container .topmenu .topinfo .social-media a {
    color: #191919;
    font-size: 1.3rem;
    margin-left: 10px;
  }
  header .container .topmenu .topinfo .social-media a:hover {
    color: #7c7c7c;
  }
  header .container .topmenu .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  header .container .topmenu .main-menu nav a {
    color: #191919;
    text-decoration: none;
    margin-right: 30px;
  }
  header .container .topmenu .main-menu nav a.active {
    font-weight: 500;
  }
  header .container .topmenu .main-menu nav a:hover {
    text-decoration: underline;
  }
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.companylogos {
  align-items: center;
}
.companylogos .container {
  display: none;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .companylogos .container {
    padding-top: 36px;
    padding-bottom: 36px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .companylogos .container {
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
  }
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.project-and-case .container .project-and-cases article img {
  width: 100%;
}
.project-and-case .container .project-and-cases article h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases article a {
  padding: 15px;
  display: block;
  text-align: right;
  color: #191919;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.project-and-case .container .project-and-cases article a i {
  margin-left: 3px;
}
.project-and-case .container .project-and-cases article a:hover {
  text-decoration: underline;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}